@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: "Outfit", sans-serif;
	src: url("/fonts/outfit.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Island Moments";
	src: url("/fonts/island-moments.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	/* Font Families */
	--font-cursive: "Island Moments", cursive;

	/* Base Colors */
	--color-background: #ffffff;
	--color-foreground: #050505;
	--color-muted: #0a0a0a;
	--color-code: #24292e;
	--color-code-text: #f6f8fa;
}

@layer theme {
	.dark {
		/* Base Colors */
		--color-background: #050505;
		--color-foreground: #fafafa;
		--color-muted: #cacaca;
		--color-code: #f6f8fa;
		--color-code-text: #24292e;
	}
}

body {
	font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inter", sans-serif;
}

.info-list > *:not(:last-child)::after {
	content: "|";
	color: #aaaaaa;
}

.prose p > code,
.prose li > code,
.prose td > code,
.prose th > code,
.prose blockquote > code,
.prose strong > code {
	background-color: var(--color-code);
	color: var(--color-code-text);
	padding: 0.2rem 0.4rem;
	margin: 0 0.2rem;
	border-radius: 0.375rem;
}

/* Shiki Theming */
.dark {
	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}
