---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import {
	DEFAULT_COVER_IMAGE_WIDTH,
	DEFAULT_COVER_IMAGE_HEIGHT,
} from "@/constants";

interface Props {
	coverImage: CollectionEntry<"blogs">["data"]["coverImage"];
}

const { coverImage } = Astro.props;

const commonImageProps = {
	alt: "Blog cover image",
	class: "mb-4 aspect-[4/2] w-5xl max-w-full rounded-lg object-cover shadow-xl max-sm:w-sm",
	fetchpriority: "high" as const,
	loading: "eager" as const,
};
---

<div class="flex w-full justify-center">
	{
		typeof coverImage === "string" ? (
			<Image
				src={coverImage}
				width={DEFAULT_COVER_IMAGE_WIDTH}
				height={DEFAULT_COVER_IMAGE_HEIGHT}
				{...commonImageProps}
			/>
		) : (
			<Image
				src={coverImage}
				width={coverImage.width || DEFAULT_COVER_IMAGE_WIDTH}
				height={coverImage.height || DEFAULT_COVER_IMAGE_HEIGHT}
				{...commonImageProps}
			/>
		)
	}
</div>
