---
import type { CollectionEntry } from "astro:content";

type Props = {
	blog: CollectionEntry<"blogs">;
};

const { blog } = Astro.props;
const { title, publishedDate } = blog.data;
---

<article
	class="group/article flex w-full items-baseline justify-between transition-opacity duration-150 ease-in-out group-hover:opacity-45 hover:opacity-100"
>
	<a
		href={`/blog/${blog.slug}`}
		class="text-muted inline-block text-pretty"
	>
		<h2
			class="decoration-blue-400 decoration-wavy decoration-2 underline-offset-2 group-hover/article:underline max-sm:text-sm dark:decoration-blue-300"
			set:html={title}
		/>
	</a>
	<p class="text-muted text-sm whitespace-nowrap">
		{publishedDate}
	</p>
</article>
