---
import type { CollectionEntry } from "astro:content";
import Post from "@/components/Post.astro";

type Props = {
	blogs: CollectionEntry<"blogs">[];
};

const { blogs } = Astro.props;
---

<div class="group space-y-2">
	{blogs.map((blog) => <Post blog={blog} />)}
</div>
