---
import type { MarkdownHeading } from "astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const getMarginClass = (depth: number) => {
	switch (depth) {
		case 1:
			return "ml-0";
		case 2:
			return "ml-0";
		case 3:
			return "ml-4";
		default:
			return "ml-8";
	}
};

const getTextSizeClass = (depth: number) => {
	if (depth === 1) {
		return "text-base font-semibold";
	} else if (depth === 2) {
		return "text-sm font-medium";
	} else {
		return "text-sm";
	}
};
---

<aside
	class="xl:border-foreground/50 hidden xl:sticky xl:top-20 xl:block xl:h-fit xl:w-64 xl:overflow-y-auto xl:border-l-2 xl:px-3 xl:py-2"
	aria-label="Table of contents"
>
	<nav>
		<p class="mb-4 font-normal">On this page</p>
		<ul class="space-y-2 text-sm">
			{
				headings.map((heading) => (
					<li
						class={`${getMarginClass(heading.depth)} ${getTextSizeClass(heading.depth)}`}
					>
						<a
							href={`#${heading.slug}`}
							class="text-muted hover:text-primary"
						>
							{heading.text}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</aside>
