---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import Header from "@/components/Header.astro";
import {
	SITE_DESCRIPTION,
	SITE_TITLE,
	SITE_OG_IMAGE_PATH,
} from "@/constants";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	image = SITE_OG_IMAGE_PATH,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body class="bg-background text-foreground mx-auto sm:w-full">
		<slot name="reading-indicator" />
		<Header />
		<slot />
	</body>
</html>
